:root {
  --font-dm-sans: 'DM Sans', sans-serif;
}

html, body {
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--font-dm-sans);
  color: #fff; 
}

#root {
  height: 100%; 
}

.main-content {
  max-width: 80vw;
  height: 100vh;
  margin: 0 56px 0 320px;
}